<h1>List of Dealerships:</h1>


<ul>
  <% @dealerships.each() do |dealership|%>
    <li><a href='/vehicle_list/<%= dealership.id() %>'><%= dealership.name() %></li>
  <% end %>
</ul>

<a href='/'>Back</a>
