<h1>Welcome To Your Used Car Finder!</h1>

<h3>Looking for a dealer?</h3>
  <a href="/dealership_list"> Click Here to Find a Dealership</a>

<h3>Add a dealership</h3>
 <form action='/dealership_list' method='post'>
   <div class='form-group'>
     <label for='new_dealer'>Enter Dealership Name</label>
     <input id='new_dealer' name='new_dealer' type='text' class='form-control'>
   </div>
   <button class='btn-success' type='submit'>Add</button>
 </form>
