<h1> List of <%= @dealership_name %>'s vehicles:</h1>

<ul>
<% @dealership_cars.cars().each() do |car| %>
  <li><%= car.make() %></li>
<% end %>
</ul>

<a href="/vehicle_list/<%= @dealership_cars.id() %>/new">Add a Vehicle to this Dealership</a>
